/packages/
/fmt-3.0.0/
/Temp/
/Release/
/obj/
/Debug/
/bin/
*.0.0.zip
/Assets/NGUI/
/OpenCV-android-sdk/
/Library/
/x64/
*.bytes
*.avi
*.mp4
/ProjectSettings/
/GEOS/x64/
/geos-for-android-master/libs/